# Assignment2
#### Harshita Divyajyoti
#### 102317208

##### 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i.WAP to add 200 and 300 to L. ii.WAP to remove 10 and 30 from L.iii.WAP to sort L in ascending order. iv.WAP to sort L in descending order.

In [4]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("After sorting in ascending order:", L)

L.sort(reverse=True)
print("After sorting in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
After sorting in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
After sorting in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

##### 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: i. Identify the highest score and its index in the tuple.ii. Find the lowest score and count how many times it appears.iii.Reverse the tuple and return it as a list.  iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [11]:
scores=(45,89.5,76,45.4,89,92,58,45)
highest=max(scores)
indexh=scores.index(highest)
print('index of highest score(',highest,')',indexh)
lowest=max(scores)
n=scores.count(lowest)
print('no. of times lowest',lowest,' score appears=',n)
rev=list(scores[::-1])
print('reversed list',rev)
if 76 in scores:
    i=scores.index(76)
    print('present at index',i)
else:
    print('specific score not present')

index of highest score( 92 ) 5
no. of times lowest 92  score appears= 1
reversed list [45, 58, 92, 89, 45.4, 76, 89.5, 45]
present at index 2

##### 3.WAP to create a list of 100 random numbers between 100 and 900. Count and print the:(i) All odd numbers,(ii) All even numbers,(iii) All prime numbers

In [14]:
import random
import math
randomnumbers = [random.randint(100, 900) for r in range(100)]
odd = 0
even = 0
prime = 0
for x in randomnumbers:
    if x % 2 == 0:
        even += 1
    else:
        odd += 1
    if x > 1:
        isprime = True
        for i in range(2, int(math.sqrt(x)) + 1):
            if x % i == 0:
                isprime = False
                break
        if isprime:
            prime += 1
print("Odd numbers count:", odd)
print("Even numbers count:", even)
print("Prime numbers count:", prime)

Odd numbers count: 52
Even numbers count: 48
Prime numbers count: 17

##### 4. Consider the following sets representing scores of two teams: A = {34, 56, 78, 90} and B = {78, 45, 90, 23} . Perform the following operations: i. Find the unique scores achieved by both teams (union). ii. Identify the scores that are common to both teams (intersection). iii. Find the scores that are exclusive to each team (symmetric difference). iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [3]:
A = {34, 56, 78, 90} 
B = {78, 45, 90, 23}

union = A | B
intersection = A & B
symmetricdiff = A ^ B
is_A_subset_B = A <= B
is_B_superset_A = B >= A

X = int(input("Enter the score to remove from set A: "))
if X in A:
    A.remove(X)
    msg = f"Score {X} was removed from set A."
else:
    msg = f"Score {X} is not present in set A."

print("Union of A and B:",union)
print("Intersection of A and B: {intersection_scores}",intersection)
print("Symmetric Difference of A and B:",symmetricdiff)
print("Is A a subset of B? ",is_A_subset_B)
print("Is B a superset of A? ",is_B_superset_A)
print("Updated set A:",A)
print(msg)

Enter the score to remove from set A:  56

Union of A and B: {34, 45, 78, 23, 56, 90}
Intersection of A and B: {intersection_scores} {90, 78}
Symmetric Difference of A and B: {34, 45, 23, 56}
Is A a subset of B?  False
Is B a superset of A?  False
Updated set A: {34, 90, 78}
Score 56 was removed from set A.

##### 5.  Write a program to rename a key city to a location in the following diconary.

In [7]:
data = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}
if "city" in data:
    data["location"] = data.pop("city")
print(data)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}